[xmpp]

# Info about the bot's jabber account
JID = anna@example.net
# Leave the password field blank to be prompted at startup.
password = secret
resource = anna

[factoids_plugin]

db_uri = sqlite:///main.db

[reactions_plugin]

db_uri = sqlite:///main.db

[annai_plugins]

# This is the list of available plugins. The part after name_ in the key
# is the python name for the module (e.g.: irrepressible_info). The
# value is the name users will see/use to (un)load the plugin. This list
# is inclusive; what is not listed here is not available.
;name_annarithmetic = annarithmetic
name_dump = dump
name_factoids = factoids
name_feedfetcher = feedfetcher
name_irrepressible_info = irrepressible.info
name_k = k
name_reactions = reactions
name_sanna = sanna
name_spamblock = spamblock
name_test = test
name_time_ = time

[misc]

default_ai = echo

# The nickname the bot will use to join groupchats
bot_nickname = anna

# Characters used to determine incoming highlights as well as construct
# outgoing messages in groupchats. Every character is evaluated
# seperately.
highlight = :;,

# User-agent header sent with HTTP connections. This value is not
# enforced; some parts of the bot (like plugins for the annai module)
# MAY choose to send something different or nothing at all.
http_useragent = Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)
